<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <title>Batalla de prompts</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Bienvenido</h1>

      <div class="card my-4">
        <div class="card-header">
          <h4>Cargar temas</h4>
        </div>
        <div class="card-body">
          <form id="cargarTemasForm" onsubmit="cargarTema(event)">
            <div class="mb-3">
              <label for="temaInput" class="form-label">Tema</label>
              <input
                type="text"
                class="form-control"
                id="temaInput"
                placeholder="Ej: crea un animal que sea una mezcla de otros animales"
              />
            </div>
            <button type="submit" class="btn btn-primary" id="cargarTemaBtn">
              Cargar tema
            </button>
          </form>
        </div>
      </div>

      <div class="card my-4">
        <div class="card-header">
          <h4>Iniciar juego</h4>
        </div>
        <div class="card-body">
          <form id="iniciarJuegoForm" onsubmit="iniciarPartida(event)">
            <div class="row mb-3">
              <div class="col">
                <label for="jugador1" class="form-label">Jugador 1</label>
                <select class="form-select" id="listaJugadores1"></select>
              </div>
              <div class="col">
                <label for="jugador2" class="form-label">Jugador 2</label>
                <select class="form-select" id="listaJugadores2"></select>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Tiempo de juego</label>
              <select class="form-select" id="tiempoJuego">
                <option value="1">1 minuto</option>
                <option value="2">2 minutos</option>
                <option value="3">3 minutos</option>
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Cantidad de imágenes a generar</label>
              <select class="form-select" id="cantidadImagenes">
                <option value="1">1 imagen</option>
                <option value="2">2 imágenes</option>
                <option value="3">3 imágenes</option>
              </select>
            </div>

            <button type="submit" class="btn btn-success">Iniciar juego</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Importación de scripts necesarios -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script defer src="lobbyAdmin.js" type="text/javascript"></script>
  </body>
</html>
